.landing {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/originalsize.jpg");
  background-size: 100% 100%;
}
.landing .background-blur {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1px);
}

.header-wrapper {
  display: flex;
  background-color: #171216;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px 0px 100px;
}
.header-wrapper .header-left {
  display: flex;
  align-items: center;
  line-height: 1.8rem;
}
.header-wrapper .header-left h2 {
  font-family: "Berkshire Swash", cursive;
}
.header-wrapper .header-left div p {
  color: #5caf49;
  font-size: 1.6rem;
  font-family: "Berkshire Swash", cursive;
}
.header-wrapper .header-nav {
  list-style: none;
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.header-wrapper .header-nav li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
.header-wrapper .close {
  display: none;
}
.header-wrapper .header-booking {
  display: flex;
  width: 250px;
  justify-content: space-around;
  align-items: center;
}
.header-wrapper .header-booking i {
  font-size: 1.4rem;
}
.header-wrapper .header-booking .header-book-now {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5caf49;
  width: 130px;
  height: 45px;
}

.landing-page .landing-leaf {
  position: absolute;
  top: 25%;
  left: 12%;
}
.landing-page .landing-information {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 33%;
  left: 20%;
}
.landing-page .landing-information h1 {
  font-size: 8rem;
  color: white;
  font-family: "Vast Shadow", cursive;
  font-weight: 100;
}
.landing-page .landing-information p {
  line-height: 140px;
  font-size: 1.4rem;
  color: white;
}
.landing-page .landing-information .landing-order-now {
  background-color: #df1b1e;
  width: 18%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-page .landing-information .landing-order-now p {
  font-size: 1.2rem;
  letter-spacing: 1.4px;
}
.landing-page .landing-chilli {
  position: absolute;
  right: 10%;
  bottom: 10%;
}

.why-us {
  width: 100%;
  position: relative;
}
.why-us .flour {
  position: absolute;
  left: 2%;
  top: 40%;
}
.why-us .circles {
  position: absolute;
  right: 8%;
  top: 55%;
}
.why-us .whyus-container {
  display: grid;
  padding: 200px 350px 0px 350px;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 60px;
  grid-template-areas: "r l1" "r l2";
}
.why-us .whyus-container .whyus-fullcolumn {
  grid-area: r;
}
.why-us .whyus-container .whyus-fullcolumn h2 {
  font-family: "Vast Shadow", cursive;
  font-weight: 200;
  font-size: 4rem;
  color: #df1b1e;
  margin-bottom: 40px;
}
.why-us .whyus-container .whyus-fullcolumn h2 span {
  font-family: "Vast Shadow", cursive;
  background: #5caf49;
  color: white;
  font-size: 2rem;
}
.why-us .whyus-container .whyus-fullcolumn h4 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding-bottom: 40px;
}
.why-us .whyus-container .whyus-fullcolumn p {
  line-height: 20px;
}
.why-us .whyus-container .whyus-great-gyro {
  grid-area: l1;
  margin-bottom: 40px;
}
.why-us .whyus-container .whyus-great-gyro img {
  margin-bottom: 20px;
}
.why-us .whyus-container .whyus-great-gyro h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.why-us .whyus-container .whyus-great-gyro p {
  line-height: 20px;
}
.why-us .whyus-container .whyus-chicken-gyro {
  grid-area: l2;
}
.why-us .whyus-container .whyus-chicken-gyro img {
  margin-bottom: 20px;
}
.why-us .whyus-container .whyus-chicken-gyro h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.why-us .whyus-container .whyus-chicken-gyro p {
  line-height: 20px;
}

.checked {
  color: orange;
}

.hot-items {
  position: relative;
  background-color: #df1b1e;
  padding: 50px 30px 50px 30px;
  margin: 200px 350px 150px 350px;
}
.hot-items .hot-gyros .dots-left {
  position: absolute;
  top: 10%;
  left: 2%;
}
.hot-items .hot-gyros .dots-right {
  position: absolute;
  right: 2%;
  bottom: 10%;
}
.hot-items .hot-gyros .hot-gyros-title {
  font-family: "Vast Shadow", cursive;
  font-size: 4.5rem;
  font-weight: 300;
  color: rgba(255, 199, 125, 0.2);
  position: absolute;
  top: 6%;
  left: 25%;
}
.hot-items .hot-gyros .type-gyros {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.hot-items .hot-gyros .type-gyros .hot-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hot-items .hot-gyros .type-gyros .hot-item h2 {
  margin-bottom: 40px;
  color: white;
}
.hot-items .hot-gyros .type-gyros .hot-item1, .hot-items .hot-gyros .type-gyros .hot-item2, .hot-items .hot-gyros .type-gyros .hot-item3 {
  border-right: 1px solid white;
}

.menu {
  width: 100%;
  padding: 100px 350px 100px 350px;
  background: url("../img/menu-background.png");
  background-color: #ebe2df;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu .menu-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu .menu-title h2 {
  font-family: "Vast Shadow", cursive;
  font-weight: 200;
  font-size: 2rem;
  padding-bottom: 40px;
}
.menu .menu-title p {
  text-align: center;
  margin-bottom: 40px;
  color: rgba(0, 0, 0, 0.6);
}
.menu .complete-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}
.menu .complete-menu .menu-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 22vh;
}
.menu .complete-menu .menu-item .menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  padding: 20px 20px 10px 30px;
}
.menu .complete-menu .menu-item .menu-content .available-menu {
  color: #5caf49;
  font-size: 0.9rem;
}
.menu .complete-menu .menu-item .menu-content h2 {
  font-size: 1.2rem;
}
.menu .complete-menu .menu-item .menu-content p {
  color: gray;
}
.menu .complete-menu .menu-item .menu-content .menu-options {
  display: flex;
  align-items: center;
}
.menu .complete-menu .menu-item .menu-content .menu-options .fas {
  border: 1px solid gray;
  border-radius: 50%;
  padding: 10px;
  color: gray;
  margin-right: 15px;
}
.menu .complete-menu .menu-item img {
  width: 100%;
  height: 100%;
}
.menu button {
  color: white;
  background-color: #df1b1e;
  font-family: "Berkshire Swash", cursive;
  margin-top: 100px;
  border-style: none;
  height: 60px;
  width: 200px;
  border-radius: 40px;
  font-size: 1.1rem;
}

.theclassic {
  width: 100vw;
  position: relative;
  padding: 200px 350px 100px 350px;
}
.theclassic .classic {
  display: flex;
  justify-content: space-between;
}
.theclassic .classic .classic-left {
  width: 50%;
  padding: 30px 0px;
}
.theclassic .classic .classic-left h2 {
  font-family: "Berkshire Swash", cursive;
  color: #df1b1e;
  line-height: 3;
}
.theclassic .classic .classic-left .title-classic {
  font-family: "Vast Shadow", cursive;
  color: black;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 1.2;
}
.theclassic .classic .classic-left p {
  font-size: 1.3rem;
  line-height: 1;
  margin-top: 30px;
}
.theclassic .classic .classic-left button {
  margin-top: 40px;
  font-family: "Berkshire Swash", cursive;
  background-color: #5caf49;
  border-style: none;
  width: 25%;
  height: 40px;
  font-size: 1rem;
  color: white;
  border-radius: 30px;
}
.theclassic .classic .classic-right img {
  width: 30vw;
  border-radius: 5px;
}
.theclassic .burger-decoration {
  position: absolute;
  right: 0;
  top: 30%;
  z-index: -1;
}

.vegan-banner {
  position: relative;
}
.vegan-banner img {
  width: 100vw;
  height: 50vh;
}
.vegan-banner .banner {
  padding: 150px 350px 100px 350px;
  position: absolute;
  top: 0;
}
.vegan-banner .banner h3 {
  color: #5caf49;
  font-family: "Berkshire Swash", cursive;
  font-weight: 200;
  padding-bottom: 20px;
}
.vegan-banner .banner h2 {
  font-family: "Vast Shadow", cursive;
  font-weight: 300;
  color: white;
  font-size: 2.8rem;
  line-height: 1;
}
.vegan-banner .banner p {
  color: white;
  padding-top: 20px;
  font-weight: 100;
  letter-spacing: 2px;
}

.testimonial-wrapper {
  width: 100vw;
  padding: 100px 350px 100px 350px;
}
.testimonial-wrapper .testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #ebe2df;
}
.testimonial-wrapper .testimonial .quote-img {
  width: 2vw;
}
.testimonial-wrapper .testimonial .line-img {
  width: 12vw;
}
.testimonial-wrapper .testimonial h3 {
  color: #5caf49;
  font-family: "Berkshire Swash", cursive;
  font-weight: 200;
  margin: 20px 0px;
  font-size: 1.5rem;
}
.testimonial-wrapper .testimonial h2 {
  font-family: "Vast Shadow", cursive;
  font-weight: 200;
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}
.testimonial-wrapper .testimonial .testimonial-p {
  width: 30vw;
  text-align: center;
  margin: 20px 0px;
  font-size: 1.2rem;
}
.testimonial-wrapper .testimonial span {
  color: #5caf49;
  margin: 16px 0px;
  line-height: 0;
}
.testimonial-wrapper .testimonial .testimonial-role {
  font-size: 0.8rem;
  color: gray;
  margin-bottom: 50px;
}
.testimonial-wrapper .other-plates {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 150px;
  height: 20vh;
  margin: 80px 0px;
}
.testimonial-wrapper .other-plates .other-plates-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.testimonial-wrapper .other-plate2 {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-gap: 150px;
  height: 20vh;
}
.testimonial-wrapper .other-plate2 .other-plates-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 30px 0px 0px;
}
.testimonial-wrapper .plates-h3 {
  font-family: "Berkshire Swash", cursive;
  color: red;
  font-size: 1.2rem;
  font-weight: 200;
}
.testimonial-wrapper .plates-h2 {
  font-family: "Vast Shadow", cursive;
  font-weight: 200;
  font-size: 2rem;
}
.testimonial-wrapper .plates-p {
  color: gray;
}
.testimonial-wrapper .test-img {
  background-color: #5caf49;
  width: 20vw;
  height: 100%;
  border-radius: 20px;
  text-align: center;
  line-height: 10;
}

/*.ourTeam{
    margin-top: 80px;
    background-color: $color-beige;
    height: 70vh;
    .our-team{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2{
            font-family: $secondary-font;
            color: $principal-green;
            font-weight: 200;
            margin: 60px 0px 30px 0px;
        }

        h3{
            font-family: $title-font;
            font-weight: 200;
            font-size: 3rem;
            text-align: center;
            margin-bottom: 70px;
        }

        .carousel-chefs{
            width: 100%;
            height: 35vh;
            display: grid;
            grid-template-columns: repeat(5, 1fr);

            .chef{
                background-color: black;
                color: white;
            }

            .chef1, .chef3, .chef5{
                background-color: gray;
            }
        }
    }
}*/
.subscribe-wrapper {
  background-color: #cfc9c0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 30vh;
}
.subscribe-wrapper .subscribe {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6eee3;
  border-radius: 8px;
}
.subscribe-wrapper .subscribe .form {
  display: grid;
  width: 100%;
  height: 30%;
  grid-template-columns: 4fr 2fr;
  grid-gap: 30px;
  padding: 0px 80px;
}
.subscribe-wrapper .subscribe .form input {
  border-style: none;
  border-radius: 5px;
}
.subscribe-wrapper .subscribe .form ::placeholder {
  color: rgba(0, 0, 0, 0.6);
  padding-left: 20px;
}
.subscribe-wrapper .subscribe .form button {
  background-color: #5caf49;
  border-style: none;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 0.7rem;
}
.subscribe-wrapper img {
  position: absolute;
  width: 130px;
  top: 30%;
  left: 60%;
}

.footer-wrapper {
  display: flex;
  padding-left: 30px;
  padding-top: 20px;
  height: 45vh;
  position: relative;
}
.footer-wrapper img {
  position: absolute;
}
.footer-wrapper .ball-top {
  right: 10%;
  top: 20%;
}
.footer-wrapper .dots-top {
  right: 12%;
  top: 28%;
}
.footer-wrapper .ball-bottom {
  right: 10%;
  bottom: 15%;
}
.footer-wrapper .dots-bottom {
  right: 6%;
  bottom: 8%;
}
.footer-wrapper .img-footer-test {
  width: 30vw;
}
.footer-wrapper .footer {
  display: flex;
  flex-direction: column;
}
.footer-wrapper .footer .footer-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  padding-top: 50px;
}
.footer-wrapper .footer .footer-list .footer-links h3 {
  font-family: "Berkshire Swash", cursive;
  font-weight: 200;
  padding-bottom: 10px;
}
.footer-wrapper .footer .footer-list .footer-links a, .footer-wrapper .footer .footer-list .footer-links li {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  line-height: 1.5;
}
.footer-wrapper .footer .footer-list .contact p {
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.5;
}
.footer-wrapper .footer .footer-list .contact span {
  color: #df1b1e;
  font-weight: 500;
  line-height: 2.5;
}
.footer-wrapper .footer .footer-social {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  border-bottom: 2px dashed rgba(0, 0, 0, 0.6);
}
.footer-wrapper .footer .footer-social .footer-text h3 {
  font-size: 1.3rem;
  line-height: 1.5;
}
.footer-wrapper .footer .footer-social .footer-text h3 .book-now {
  color: #5caf49;
  margin-left: 3px;
}
.footer-wrapper .footer .footer-social .social {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 70px;
}
.footer-wrapper .footer .footer-social .social .social-button {
  background-color: #2f2f2f;
  margin-left: 20px;
  padding: 15px;
  border-radius: 5px;
}
.footer-wrapper .footer .footer-social .social .social-active {
  background-color: #df1b1e;
}
.footer-wrapper .footer .footer-copyright {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
}
.footer-wrapper .footer .footer-copyright h3 {
  color: rgba(0, 0, 0, 0.6);
}
.footer-wrapper .footer .footer-copyright h3 span {
  color: #df1b1e;
  margin-left: 10px;
}
.footer-wrapper .footer .footer-copyright p {
  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 1600px) {
  .why-us .circles {
    right: 5%;
  }
  .why-us .whyus-container {
    padding: 150px 280px 0px 280px;
  }

  .hot-items {
    margin: 200px 280px 150px 280px;
    padding: 50px 30px 50px 30px;
  }

  .menu {
    padding: 100px 280px 100px 280px;
  }
  .menu .complete-menu .menu-item {
    height: 25vh;
  }
  .menu .complete-menu .menu-item .menu-content p {
    font-size: 0.9rem;
  }
  .menu .complete-menu .menu-item .menu-content .title-menu {
    font-size: 1rem;
  }
  .menu .complete-menu .menu-item .menu-content .available-menu {
    font-size: 0.8rem;
  }
  .menu .complete-menu .menu-item .menu-options .fas {
    font-size: 13px;
    padding: 8px;
  }

  .theclassic {
    padding: 100px 280px 100px 280px;
  }
  .theclassic .burger-decoration {
    width: 500px;
    top: 20%;
  }

  .vegan-banner .banner {
    padding: 100px 280px 100px 280px;
  }

  .testimonial-wrapper {
    padding: 100px 280px 100px 280px;
  }

  .subscribe-wrapper {
    height: 35vh;
  }
  .subscribe-wrapper .subscribe {
    width: 65%;
    height: 65%;
  }

  .footer-wrapper .ball-top {
    width: 5vw;
    right: 6%;
  }
  .footer-wrapper .dots-top {
    width: 5vw;
    right: 4%;
  }
  .footer-wrapper .ball-bottom {
    width: 5vw;
    right: 7%;
    bottom: 4%;
  }
  .footer-wrapper .dots-bottom {
    width: 5vw;
    right: 5%;
    bottom: 0;
  }
}
@media (max-width: 1444px) {
  .theclassic .classic .classic-left button {
    width: 30%;
  }
  .theclassic .burger-decoration {
    width: 30vw;
  }

  .footer-wrapper .ball-top {
    display: none;
  }
  .footer-wrapper .dots-top {
    display: none;
  }
  .footer-wrapper .ball-bottom {
    display: none;
  }
  .footer-wrapper .dots-bottom {
    display: none;
  }
}
@media (max-width: 1350px) {
  .why-us .flour, .why-us .circles {
    display: none;
  }
  .why-us .whyus-container {
    padding: 150px 200px 0px 200px;
  }

  .hot-items {
    margin: 200px 200px 150px 200px;
  }

  .menu {
    padding: 200px 200px 150px 200px;
  }

  .theclassic {
    padding: 100px 200px 100px 200px;
  }

  .vegan-banner .banner {
    padding: 100px 200px 100px 200px;
  }
  .vegan-banner img {
    height: 40vh;
  }

  .testimonial-wrapper {
    padding: 100px 200px 100px 200px;
  }

  .subscribe-wrapper {
    height: 30vh;
  }
  .subscribe-wrapper .subscribe {
    width: 70%;
  }
}
@media (max-width: 1250px) {
  .landing .header-nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .landing .header-nav li {
    margin-bottom: 50px;
  }
  .landing .header-nav li a {
    font-size: 2.5rem;
    font-family: "Vast Shadow", cursive;
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
  }
  .landing .header-booking .fas {
    display: none;
  }
  .landing .header-booking .header-book-now {
    margin-right: 50px;
  }
  .landing .close {
    display: flex;
    font-size: 3rem;
    position: absolute;
    top: 5%;
    right: 5%;
    color: white;
    z-index: 2;
  }
  .landing .burger {
    font-size: 3rem;
    cursor: pointer;
    position: absolute;
    top: 3%;
    right: 5%;
  }
  .landing .header-nav li a::after {
    content: "";
    height: 3px;
    width: 0;
    background: #5caf49;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
  }
  .landing .header-nav li a:hover::after {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
