$principal-green: #5caf49;
$principal-red: #df1b1e;
$principal-gray: #ebe2df;
$color-beige: #f6eee3;
$secondary-beige: #cfc9c0;

$title-font: 'Vast Shadow', cursive;
$secondary-font: 'Berkshire Swash', cursive;