@import 'variables.scss';

.landing{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/originalsize.jpg");
    background-size: 100% 100%;

    .background-blur{
        position: absolute;
        height: 100vh;
        width: 100vw;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(1px);
    }
}


.header-wrapper{
    display: flex;
    background-color: #171216;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;

    .header-left{
        display: flex;
        align-items: center;
        line-height: 1.8rem;
        
        h2{
            font-family: $secondary-font;
        }

        div p{
            color: $principal-green;
            font-size: 1.6rem;
            font-family: $secondary-font;
        }
    }

    .header-nav{
        list-style: none;
        width: 40%;
        display: flex;
        justify-content: space-around;
        
        li a{
            color: white;
            text-decoration: none;
            font-size: 1.2rem;
        }
    }

    .header-booking{
        display: flex;
        width: 250px;
        justify-content: space-around;
        align-items: center;

        i{
            font-size: 1.4rem;
        }

        .header-book-now{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $principal-green;
            width: 130px;
            height: 45px;
        }
    }
}

.landing-page{

    .landing-leaf{
        position: absolute;
        top: 25%;
        left: 12%;
    }

    .landing-information{
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 33%;
        left: 20%;

        h1{
            font-size: 8rem;
            color: white;
            font-family: $title-font;
            font-weight: 100;
        }

        p{
            line-height: 140px;
            font-size: 1.4rem;
            color: white;
        }

        .landing-order-now{
            background-color: $principal-red;
            width: 18%;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;

            p{
                font-size: 1.2rem;
                letter-spacing: 1.4px;
            }
        }
    }

    .landing-chilli{
        position: absolute;
        right: 10%;
        bottom: 10%;
    }
}

.why-us{
    width: 100%;
    position: relative;

    .flour{
        position: absolute;
        left: 2%;
        top: 40%;
    }

    .circles{
        position: absolute;
        right: 8%;
        top: 55%;
    }

    .whyus-container{
        display: grid;
        padding: 200px 350px 0px 350px;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 60px;
        grid-template-areas: 
            "r l1"
            "r l2";
        
        .whyus-fullcolumn{
            grid-area: r;

            h2{
                font-family: $title-font;
                font-weight: 200;
                font-size: 4rem;
                color: $principal-red;
                margin-bottom: 40px;

                span{
                    font-family: $title-font;
                    background: $principal-green;
                    color: white;
                    font-size: 2rem;
                }
                
            }

            h4{
                font-size: 1.5rem;
                letter-spacing: 1px;
                padding-bottom: 40px;
            }
            p{
                line-height: 20px;
            }
        }

        .whyus-great-gyro{
            grid-area: l1;
            margin-bottom: 40px;

            img{
                margin-bottom: 20px;
            }

            h2{
                margin-bottom: 10px;
                font-size: 1.5rem;
            }

            p{
                line-height: 20px;
            }
        }

        .whyus-chicken-gyro{
            grid-area: l2;

            img{
                margin-bottom: 20px;
            }

            h2{
                font-size: 1.5rem;
                margin-bottom: 10px;
            }

            p{
                line-height: 20px;
            }
        }
    }
}

.checked {
  color: orange;
}

.hot-items{
    position: relative;
    background-color: $principal-red;
    margin: 200px 350px 150px 350px;
    padding: 50px 30px 50px 30px;

    .hot-gyros{
        
        .dots-left{
            position: absolute;
            top: 10%;
            left: 2%;
        }

        .dots-right{
            position: absolute;
            right: 2%;
            bottom: 10%;
        }

        .hot-gyros-title{
            font-family: $title-font;
            font-size: 4.5rem;
            font-weight: 300;
            color: rgba(359, 78%, 49%, 0.2);
            position: absolute;
            top: 6%;
            left: 25%;
        }

        .type-gyros{
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            .hot-item{
                display: flex;
                flex-direction: column;
                align-items: center;

                h2{
                    margin-bottom: 40px;
                    color: white;
                }
            }

            .hot-item1, .hot-item2, .hot-item3{
                border-right: 1px solid white;
            }
        }
    }
}

.menu{
    width: 100%;
    padding: 100px 350px 100px 350px;
    background: url("../img/menu-background.png");
    background-color: $principal-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    .menu-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2{
            font-family: $title-font;
            font-weight: 200;
            font-size: 2rem;
            padding-bottom: 40px;
        }

        p{
            text-align: center;
            margin-bottom: 40px;
            color: rgba(0, 0, 0, 0.6);
        }
    }

    .complete-menu{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-gap: 40px;

        .menu-item{
            display: grid;
            grid-template-columns: 1fr 2fr;
            height: 22vh;
            

            .menu-content{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                background-color: white;
                padding: 20px 20px 10px 30px;

                .available-menu{
                    color: $principal-green;
                    font-size: 0.9rem;
                }

                h2{
                    font-size: 1.2rem;
                }

                p{
                    color: gray;
                }

                .menu-options{
                    display: flex;
                    align-items: center;

                    .fas{
                        border: 1px solid gray;
                        border-radius: 50%;
                        padding: 10px;
                        color: gray;
                        margin-right: 15px;
                    }
                }
            }


            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    button{
        color: white;
        background-color: $principal-red;
        font-family: $secondary-font;
        margin-top: 100px;
        border-style: none;
        height: 60px;
        width: 200px;
        border-radius: 40px;
        font-size: 1.1rem;
    }
}

.theclassic{
    width: 100vw;
    position: relative;
    padding: 200px 350px 100px 350px;

    .classic{
        display: flex;
        justify-content: space-between;

        .classic-left{
            width: 50%;
            padding: 30px 0px;

            h2{
                font-family: $secondary-font;
                color: $principal-red;
                line-height: 3;
            }

            .title-classic{
                font-family: $title-font;
                color: black;
                font-weight: 300;
                font-size: 2.5rem;
                line-height: 1.2;
            }

            p{
                font-size: 1.3rem;
                line-height: 1;
                margin-top: 30px;
            }

            button{
                margin-top: 40px;
                font-family: $secondary-font;
                background-color: $principal-green;
                border-style: none;
                width: 25%;
                height: 40px;
                font-size: 1rem;
                color: white;
                border-radius: 30px;
            }
        }

        .classic-right{

            img{
                width: 30vw;
                border-radius: 5px;
            }
        }
    }

    .burger-decoration{
        position: absolute;
        right: 0;
        top: 30%;
        z-index: -1;
    }
}

.vegan-banner{
    position: relative;

    img{
        width: 100vw;
        height: 50vh;
    }

    .banner{
        padding: 150px 350px 100px 350px;
        position: absolute;
        top: 0;

        h3{
            color: $principal-green;
            font-family: $secondary-font;
            font-weight: 200;
            padding-bottom: 20px;
        }

        h2{
            font-family: $title-font;
            font-weight: 300;
            color: white;
            font-size: 2.8rem;
            line-height: 1;
        }

        p{
            color: white;
            padding-top: 20px;
            font-weight: 100;
            letter-spacing: 2px;
        }
    }
}

.testimonial-wrapper{
    width: 100vw;
    padding: 100px 350px 100px 350px;

    .testimonial{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 2px solid $principal-gray;

        .quote-img{
            width: 2vw;
        }

        .line-img{
            width: 12vw;
        }

        h3{
            color: $principal-green;
            font-family: $secondary-font;
            font-weight: 200;
            margin: 20px 0px;
            font-size: 1.5rem;
        }

        h2{
            font-family: $title-font;
            font-weight: 200;
            font-size: 3rem;
            margin-bottom: 20px;
        }

        .testimonial-p{
            width: 30vw;
            text-align: center;
            margin: 20px 0px;
            font-size: 1.2rem;
        }

        span{
            color: $principal-green;
            margin: 16px 0px;
            line-height: 0;
        }

        .testimonial-role{
            font-size: 0.8rem;
            color: gray;
            margin-bottom: 50px;
        }  
    }

    .other-plates{
        display: grid;
        grid-template-columns: 2fr 4fr;
        grid-gap: 150px;
        height: 20vh;
        margin: 80px 0px;
        

        .other-plates-right{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }

    .other-plate2{
        display: grid;
        grid-template-columns: 4fr 2fr;
        grid-gap: 150px;
        height: 20vh;

        .other-plates-left{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 30px 30px 0px 0px;
        }
    }

    .plates-h3{
        font-family: $secondary-font;
        color: red;
        font-size: 1.2rem;
        font-weight: 200;
    }

    .plates-h2{
        font-family: $title-font;
        font-weight: 200;
        font-size: 2rem;
    }

    .plates-p{
        color: gray;
    }
    .test-img{
            background-color: $principal-green;
            width: 20vw;
            height: 100%;
            border-radius: 20px;
            text-align: center;
            line-height: 10;
        }
}

/*.ourTeam{
    margin-top: 80px;
    background-color: $color-beige;
    height: 70vh;
    .our-team{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2{
            font-family: $secondary-font;
            color: $principal-green;
            font-weight: 200;
            margin: 60px 0px 30px 0px;
        }

        h3{
            font-family: $title-font;
            font-weight: 200;
            font-size: 3rem;
            text-align: center;
            margin-bottom: 70px;
        }

        .carousel-chefs{
            width: 100%;
            height: 35vh;
            display: grid;
            grid-template-columns: repeat(5, 1fr);

            .chef{
                background-color: black;
                color: white;
            }

            .chef1, .chef3, .chef5{
                background-color: gray;
            }
        }
    }
}*/

.subscribe-wrapper{
    background-color: $secondary-beige;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 30vh;

    .subscribe{
        
        width: 50%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-beige;
        border-radius: 8px;

        .form{
            display: grid;
            width: 100%;
            height: 30%;
            grid-template-columns: 4fr 2fr;
            grid-gap: 30px;
            padding: 0px 80px;

            input{
                border-style: none;
                border-radius: 5px;
            }

            ::placeholder{
                color: rgba(0, 0, 0, 0.6);
                padding-left: 20px;
            }

            button{
                background-color: $principal-green;
                border-style: none;
                border-radius: 5px;
                color: white;
                text-transform: uppercase;
                font-size: 0.7rem;
            }

        }
    }

    img{
        position: absolute;
        width: 130px;
        top: 30%;
        left: 60%;
    }
}

.footer-wrapper{
    display: flex;
    padding-left: 30px;
    padding-top: 20px;
    height: 45vh;
    position: relative;

    img{
        position: absolute;
    }

    .ball-top{
        right: 10%;
        top: 20%;
    }

    .dots-top{
        right: 12%;
        top: 28%;
    }

    .ball-bottom{
        right: 10%;
        bottom: 15%;
    }

    .dots-bottom{
        right: 6%;
        bottom: 8%;
    }

    .img-footer-test{
        width: 30vw;
    }

    .footer{
        display: flex;
        flex-direction: column;

        .footer-list{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 60px;
            padding-top: 50px;

            .footer-links{
                
                h3{
                    font-family: $secondary-font;
                    font-weight: 200;
                    padding-bottom: 10px;
                }

                a, li{
                    color: rgba(0, 0, 0, 0.6);
                    text-decoration: none;
                    line-height: 1.5;
                }
            }

            .contact{

                p{
                    color: rgba(0,0,0, 0.6);
                    line-height: 1.5;
                }

                span{
                    color: $principal-red;
                    font-weight: 500;
                    line-height: 2.5;
                }
            }
        }

        .footer-social{
            display: flex;
            justify-content: space-between;
            margin-top: 35px;
            border-bottom: 2px dashed rgba($color: #000000, $alpha: 0.6);

            .footer-text{
                h3{
                    font-size: 1.3rem;
                    line-height: 1.5;

                    span{
                        color: $principal-green;
                        text-decoration: underline;
                        margin-left: 3px;
                    }
                }
            }

            .social{
                display: flex;
                align-items: center;
                color: white;
                margin-bottom: 70px;

                .social-button{
                    background-color: #2f2f2f;
                    margin-left: 20px;
                    padding: 15px;
                    border-radius: 5px;
                }

                .social-active{
                    background-color: $principal-red;
                }
            }
        }

        .footer-copyright{
            display: flex;
            justify-content: space-between;
            padding: 30px 0px;

            h3{
                color: rgba($color: #000000, $alpha: 0.6);

                span{
                    color: $principal-red;
                    margin-left: 10px;
                }
            }

            p{
                color: rgba($color: #000000, $alpha: 0.6);
            }
        }
    }
}

@media (max-width: 1600px){
    .why-us{
        .circles{
            right: 5%;
        }

        .whyus-container{
        padding: 150px 280px 0px 280px;
        }
    }

    .hot-items{
        margin: 200px 280px 150px 280px;
        padding: 50px 30px 50px 30px;
    }

    .menu{
        padding: 100px 280px 100px 280px;

        .complete-menu{

            .menu-item{
                height: 25vh;

                .menu-content{
                    p{
                    font-size: 0.9rem;
                }
                .title-menu{
                    font-size: 1rem;
                }

                .available-menu{
                    font-size: 0.8rem;
                }
                }
                .menu-options{
                    .fas{
                        font-size: 13px;
                        padding: 8px;
                    }
                }
                
            }
        }
    }

    .theclassic{
        padding: 100px 280px 100px 280px;

        .burger-decoration{
            width: 500px;
            top: 20%;
        }
    }

    .vegan-banner{
        .banner{
            padding: 100px 280px 100px 280px;
        }
    }

    .testimonial-wrapper{
        padding: 100px 280px 100px 280px;
    }

    .subscribe-wrapper{
        height: 35vh;
        .subscribe{
            width: 65%;
            height: 65%;
        }
    }

    .footer-wrapper{

        .ball-top{
            width: 5vw;
            right: 6%;
        }

        .dots-top{
            width: 5vw;
            right: 4%;
        }
        .ball-bottom{
            width: 5vw;
            right: 7%;
            bottom: 4%;
        }
        .dots-bottom{
            width: 5vw;
            right: 5%;
            bottom: 0;
        }
    }
    
}